.main{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
    padding: 10px;

    img{
        width: 100px;
    }

    ul{
        display: flex;
        flex-direction: row;
       
    }

    li{
        margin: 2rem;
        font-size: 14px;
        font-weight: 500;
    }

    .stroke {
        a {
          position: relative;
          padding: 10px 20px;
          border: none;
          background: none;
          font-size: 16px;
          color: var(--secondary);
          font-weight: 500;
      
          &,
          &:after,
          &:before {
            transition: all 0.5s;
          }
      
          &:after {
            position: absolute;
            bottom: 0px;
            left: 0;
            margin: auto;
            width: 0%;
            content: "";
            background: var(--secondary);
            z-index: -1;
            height: 2px;
          }
      
          &:hover:after {
            width: 100%;
          }
      
          &:hover {
            scale: 1.05;
            background-color: transparent;
          }
        }
      }
      
      .active {
        position: relative;
      
        &:after {
          position: absolute;
          bottom: -10px;
          left: 0;
          margin: auto;
          width: 100%;
          content: "";
          background: var(--secondary);
          z-index: -1;
          height: 2px;
        }
      }
}