.content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 40%;
  margin-left: 3.5rem;
}

.inputField {
  position: relative;
  width: 100%;

  input {
    border: 1px solid var(--secondary-2);
    border-radius: 1rem;
    padding: 0.6rem 1rem;
    width: 100%;

    &::placeholder {
      font-weight: 500;
      font-size: 1.4rem;
      color: var(--secondary-2);
    }
  }

  svg {
    position: absolute;
    right: 0;
    margin-right: 0.8rem;
    top: 50%;
    transform: translateY(-50%);
  }
}
